<mat-toolbar>
  <mat-toolbar-row>
    <span>{{title}}</span>
    <span class="spacer"></span>
    <mat-icon class="icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
    <mat-icon class="icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
<ng-content></ng-content>
<mat-toolbar>
  <mat-toolbar-row>
    <span>Copyright</span>
    <span class="spacer"></span>
    <mat-icon class="icon" aria-hidden="false" aria-label="Example heart icon">twitter</mat-icon>
    <mat-icon class="icon" aria-hidden="false" aria-label="Example delete icon">in</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>